
.add-box__header {
  /* background-color: red; */
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 1px #ccc;
  text-align: center;
}
.add-box__title {
  display: flex;
  margin: 0.5rem 0;
}
.add-avt {
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
  margin: 0 1rem;
}
.add-name {
  line-height: 3rem;
  font-weight: bold;
}
.area-input {
  width: 92%;
  margin: 0.5rem 1rem;
  height: 7.5rem;
  border: none;
  outline: none;
}
.area-input:focus {
  border: none;
  outline: none;
}
.add-box-btn {
  text-align: center;
  padding: 0 1rem;
}
.add-btn {
  width: 100%;
}
