.container-frent {
  position: relative;
  top: 5rem;
  left: 30%;
  display: flex;
  overflow-x: scroll !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container-frent::-webkit-scrollbar{
    display: none;
}
.box-frent {
  text-align: center;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  width: 10rem;
  height: 6rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.frent-avt {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
