

.slick-st {
  /* height: 230px !important; */
  text-align: center !important;
}
.box-frent {
  position: relative;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  width: 10rem !important;
  height: 6rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.frent-avt {
  display: flex;
  justify-content: center;
}
.frent-avt img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.box-frent:hover .frent-avt {
  animation: xay 5s;
}
.box-frent:hover {
  background-color: #eee;
  transform: translateY(-5%);
}
/* @media (max-width: 1024px) {

} */

